/**
 * Condensed Fix Styles
 * --------------------------------------------------
 */
.section_content {
  font-size: 14px !important; }

.panel-flexible .panel-separator {
  margin: 0 !important; }

.main-menu li a {
  padding-bottom: 11px !important;
  font-size: larger !important;
  font-weight: 600 !important;
  color: #89898A !important;
  display: block !important;
  border: none !important; }

.main-menu li a:hover {
  color: #EE5835;
  border-bottom: 3px solid #EE5835; }

.main-menu .view-header {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  margin-bottom: -3px; }

.main-menu .view {
  border-bottom: 3px solid #F59332; }

.main-menu .views-row {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: -3px; }

.main-menu .views-row .active,
.main-menu a:hover {
  border-bottom: 3px solid #EE5835; }

.main-menu .view-content {
  display: inline-block;
  margin-bottom: 0;
  width: 80%;
  overflow: visible; }

.main-menu .menu .children_menu {
  border: none !important; }

.main-menu .menu .children_menu ul {
  border: none !important;
  display: block; }

.main-menu .menu .children_menu li {
  display: inline-block;
  width: 100%; }

#microsite_panel .pane-content > .menu li.expanded > a {
  background: none; }

.left-menu {
  float: initial !important;
  display: inline-block;
  margin-top: 15px; }

.left-menu .views-row {
  padding: 10px;
  margin-bottom: 5px;
  background-image: linear-gradient(to left, #83C24C, #83C24C 97%, #4E8F00 50%, #4E8F00);
  background-size: cover;
  background-repeat: no-repeat; }

.left-menu .views-row:hover {
  background-image: linear-gradient(to left, #4E8F00, #4E8F00 97%, #83C24C 50%, #83C24C); }

.left-menu .views-row a {
  color: #fff;
  display: block; }

.left-menu .view-header {
  padding: 5px;
  background: #4E8F00;
  margin-bottom: 5px;
  color: #fff;
  text-align: center; }

.slider {
  margin: 15px 0; }

.slider .views-row {
  position: relative; }

.slider .views-slideshow-controls-top {
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 10; }

.slider .views-slideshow-controls-text {
  margin-right: 30px; }

.slider .views-slideshow-controls-text-pause {
  display: none; }

.slider .views-slideshow-controls-text-next {
  float: right; }

.slider .views-slideshow-controls-text-previous a {
  margin-left: 10px;
  color: transparent;
  padding-bottom: 25px; }

.slider .views-slideshow-controls-text-next a {
  color: transparent;
  padding-bottom: 25px; }

.slider .views-field-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.48); }

.slider .views-field-body {
  position: absolute;
  top: 0;
  padding: 2% 9%; }

.slider .views-field-title a,
.slider .views-field-body h2,
.slider .views-field-body p {
  color: #fff; }

.slider .views-field-title a {
  font-size: larger;
  font-weight: 500; }

.slider .views-field-body h2 {
  font-size: x-large; }

.slider .views-field-body p {
  padding: 0 15px;
  max-height: 62px;
  overflow-wrap: break-word;
  overflow: hidden; }

.slider .views-field-nothing {
  position: absolute;
  bottom: 0;
  right: 0; }

.slider .views-field-nothing a {
  padding: 11px 30px;
  background: #83C24C;
  border-color: #83C24C;
  border-radius: 0; }

.slider .views-field-nothing a:hover {
  background: #4E8F00;
  border-color: #4E8F00; }

.main-content {
  margin-top: 15px;
  padding-bottom: 15px; }

.main-content h3,
.home h3 {
  background: #EE5835;
  padding: 5px;
  padding-left: 25px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0; }

.main-content h4 {
  color: #FC5141; }

.main-content p,
.main-content ol,
.main-content ul,
.main-content h4,
.main-content .container-fluid {
  border-left: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
  padding: 10px; }

.main-content p:last-child {
  border-bottom: 1px solid #CBCBCB; }

.main-content .image {
  float: left;
  margin: 10px;
  margin-bottom: 0; }

.main-content ol,
.main-content ul {
  -webkit-padding-start: 40px; }

.main-content li {
  list-style: inherit; }

.main-content .panel {
  margin-left: 2px;
  margin-top: 15px;
  padding: 0; }

.main-content .panel-heading {
  text-align: center;
  background: #818181;
  color: #fff; }

.main-content .panel-body {
  padding: 9px;
  background: silver; }

.main-content .panel-body a {
  display: block;
  font-size: smaller;
  color: #818181;
  text-decoration: none; }

.main-content .panel-body:hover {
  background: #fff; }

.main-content .panel-body:hover span {
  color: #818181; }

.main-content span {
  padding-top: 10px;
  margin: auto;
  display: inherit;
  color: #fff; }

.icon-file {
  width: 37px;
  height: 46px; }

.icon-hat {
  width: 67px;
  height: 47px; }

.icon-people {
  width: 68px;
  height: 46px; }

.icon-book {
  width: 61px;
  height: 46px; }

.icon-book-green {
  width: 61px;
  height: 46px; }

.icon-media {
  width: 50px;
  height: 46px; }

.icon-mesh {
  width: 70px;
  height: 45px; }

.footer {
  padding-bottom: 15px; }

.footer a {
  float: right;
  margin-left: 20px; }

.footer .google {
  width: 159px;
  height: 58px;
  background-color: #2A2A2A; }

.footer .pdf {
  width: 159px;
  height: 58px;
  background-color: #818181; }

.panels-flexible-region {
  background: #F7F7F7; }

.left-menu .panel-heading {
  background: #4E8F00; }

.left-menu .panel-body {
  background: #fff; }

.left-menu .panel-body:hover,
.left-menu .panel-body:hover span,
.left-menu .panel-body:hover a {
  background: #83C24C;
  color: #fff; }

.left-menu .panel-body a,
.left-menu .panel-body span {
  color: #4E8F00; }

.section_content,
.breadcrumb {
  background: transparent !important; }

.main-content iframe {
  width: 100%;
  height: 700px; }

.streaming iframe {
  margin-left: 9px;
  width: 620px;
  height: 350px; }

.home iframe {
  width: 100%;
  height: 500px; }

.video-left-menu iframe {
  margin-top: 0;
  height: auto; }

@media (max-width: 767px) {
  .main-menu {
    margin-right: 20px; }

  .main-menu li {
    width: 100%;
    border-bottom: 3px solid #F59332; }

  #microsite_panel .pane-content > .menu li.parent_menu {
    position: relative; }

  #microsite_panel .menu .children_menu {
    height: auto !important;
    position: relative !important; }

  #microsite_panel .menu .children_menu li {
    border: none !important;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: underline; }

  .main-menu .view-header {
    width: 100%;
    margin: 0; }

  .main-menu .views-row {
    width: 100%;
    border-bottom: 3px solid #F59332; }

  .main-menu .view-content {
    width: 100%; }

  .main-menu .view {
    border-bottom: none; }

  .slider .views-field-body {
    display: none; } }
@media (max-width: 793px) {
  #microsite_panel .main-menu {
    margin-right: 20px; }

  #microsite_panel .main-menu .view-header {
    width: 100%;
    margin: 0; }

  #microsite_panel .main-menu .views-row {
    width: 100%;
    border-bottom: 3px solid #F59332; }

  #microsite_panel .main-menu .view-content {
    width: 100%; }

  #microsite_panel .main-menu .view {
    border-bottom: none; }

  .slider .views-field-body {
    display: none; } }
@media (max-width: 767px) {
  .left-menu {
    width: 100%; }

  .left-menu .views-row {
    background-image: linear-gradient(to left, #83C04C, #83C04C 97%, #68844F 50%, #68844F); } }
@media (min-width: 992px) {
  .col-md-2 {
    width: 19%;
    margin-left: 0; } }
* {
  -webkit-box-sizing: unset;
  -moz-box-sizing: unset;
  box-sizing: unset; }

body {
  font-family: 'segoe UI', 'segoe UI web', 'segoe UI xp', 'arial', 'helvetica'; }

.main_container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 768px) {
  body {
    font-size: 14px !important; }

  .top_menu {
    font-size: 11px !important; } }
@media (max-width: 767px) {
  body {
    font-size: 12px !important; } }
.accordion_inter {
  color: #FFF;
  width: 100%;
  font-size: 14px;
  padding: 15px;
  box-sizing: border-box; }

.accordion_inter .accordion_inter_section {
  width: 100%; }

.accordion_inter .accordion_inter_section input[type='radio']:checked ~ .accordion_inter_content {
  max-height: 600px;
  opacity: 1;
  z-index: 10; }

.accordion_inter .accordion_inter_section label {
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  color: #15122E;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  background: #E7B011;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  -ms-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.accordion_inter .accordion_inter_section label:before {
  content: " ";
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px; }

.accordion_inter .accordion_inter_section label:hover {
  background: #CFB055; }

.accordion_inter .accordion_inter_section label span {
  display: table-cell;
  vertical-align: middle;
  color: #15122E; }

.accordion_inter .accordion_inter_section input[type='radio'] {
  display: none; }

.accordion_inter .accordion_inter_section input[type='radio']:checked + label {
  background: #E7B011; }

.accordion_inter .accordion_inter_section input[type='radio']:checked + label span {
  color: #15122E !important; }

.accordion_inter ul {
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  list-style: none; }

.accordion_inter ul li {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: #737276; }

.accordion_inter ul li i {
  font-size: 13px;
  width: 15px;
  margin-right: 15px;
  color: #737276; }

.accordion_inter ul li:hover {
  cursor: pointer; }

.accordion_inter ul li:hover i {
  color: #737276; }

.accordion_inter .accordion_inter_section .accordion_inter_content {
  max-height: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  position: relative;
  overflow-y: hidden;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF; }

.accordion_inter .accordion_inter_section input[type='radio'] {
  display: none; }

.accordion_inter .accordion_inter_section input[type='radio']:checked ~ .accordion_inter_content {
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

h1.logo {
  margin-top: 0; }

/**
* Variables
* --------------------------------------------------
*/
/**
 * Mixins
 * --------------------------------------------------
 */
/**
 * General Styles
 * --------------------------------------------------
 */
.site-inicioca .main_container {
  background: #E9F7F7; }
.site-inicioca #microsite_panel {
  background: url("http://52.37.84.217/inicio-ca/img/bg-lines.png");
  min-height: 820px;
  position: relative; }
.site-inicioca .content p a {
  text-decoration: underline;
  cursor: pointer;
  color: #EBA95E; }
  .site-inicioca .content p a:hover {
    color: #94642d; }
.site-inicioca .section_content .breadcrumb {
  margin-bottom: 0px;
  height: 40px; }
.site-inicioca .section_content p {
  margin-top: 10px !important;
  color: #666666 !important;
  text-align: justify; }
.site-inicioca .general-content {
  min-height: 150px; }
.site-inicioca .home-content .view-content ul, .site-inicioca .general-content .view-content ul {
  padding-left: 40px !important; }
.site-inicioca .home-content .view-content li, .site-inicioca .general-content .view-content li {
  margin-top: 5px !important;
  list-style: initial !important; }
.site-inicioca .home-content .view-content .home-image, .site-inicioca .general-content .view-content .home-image {
  background: url("http://52.37.84.217/inicio-ca/img/img_home.jpg") no-repeat center/contain;
  min-height: 150px; }
.site-inicioca .registration-content .row > * {
  text-align: center;
  margin: 15px 0; }
.site-inicioca .media {
  margin: 30px 0; }
  .site-inicioca .media .media-left a {
    width: 110px;
    display: block; }
  .site-inicioca .media .media-body .media-heading {
    margin-top: 0 !important; }
.site-inicioca .header {
  display: none; }
.site-inicioca .header_search {
  display: none; }
.site-inicioca .user_menu_container {
  display: none; }
.site-inicioca .special-programs {
  background: #3a617d;
  margin-top: 0px !important; }
.site-inicioca .featured-content {
  background: #3a617d;
  margin-top: 0px !important; }
.site-inicioca .highlighted-notes {
  background: #3a617d;
  min-height: 533px; }
  .site-inicioca .highlighted-notes .pane-content {
    background: #ffffff; }
.site-inicioca .facebookca-content .pane-content, .site-inicioca .twitterca-content .pane-content {
  background: white;
  text-align: center; }
.site-inicioca #edit-cas-login-redirection-message {
  display: none; }
.site-inicioca div#edit-actions--2 {
  display: block;
  margin-top: -48px;
  margin-left: 24px; }
.site-inicioca input#edit-submit--2 {
  padding: 5px;
  background: #ff6e1f;
  border: none;
  color: #ffffff; }
@media (min-width: 1100px) {
  .site-inicioca .main_container .section_content {
    width: 1024px !important; } }
@media (min-width: 992px) and (max-width: 1024px) {
  .site-inicioca #microsite_panel {
    overflow: hidden; } }
@media (min-width: 768px) {
  .site-inicioca .content .modal-dialog {
    width: 600px;
    margin: 15% auto; }
  .site-inicioca .row-center-sm {
    display: flex;
    align-items: center; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .site-inicioca #banner .view .view-content {
    margin-bottom: 0 !important; } }
@media (max-width: 767px) {
  .site-inicioca .section_container.no_left_sidebar .section_content {
    width: 100% !important; } }

/**
 * Headings Styles
 * --------------------------------------------------
 */
.content-header-styles, .site-inicioca .content h1, .site-inicioca .content h2, .site-inicioca .content h3, .site-inicioca .content h4 {
  font-weight: normal;
  color: #1F2B49;
  margin-bottom: 0px !important; }

.site-inicioca .content h1 {
  color: #162a55;
  margin-top: 30px;
  font-size: 30px; }
.site-inicioca .content h2 {
  font-size: 20px;
  color: #162a55;
  margin-top: 25px;
  font-weight: 600; }
.site-inicioca .content h3 {
  font-size: 16px;
  color: #162a55;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
  padding-right: 10px; }
.site-inicioca .content h4 {
  color: #162a55;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px; }
.site-inicioca h2.title {
  display: none; }
.site-inicioca #inicio_home_slider .pane-title, .site-inicioca .facebookca-content .pane-title, .site-inicioca .twitterca-content .pane-title, .site-inicioca .alleys .pane-title {
  background: #3A617D;
  color: white;
  padding: 10px 10px 10px 50px;
  margin-top: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative; }
  .site-inicioca #inicio_home_slider .pane-title:before, .site-inicioca .facebookca-content .pane-title:before, .site-inicioca .twitterca-content .pane-title:before, .site-inicioca .alleys .pane-title:before {
    content: "";
    height: 45px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 15px;
    background: url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat; }
.site-inicioca #inicio_home_slider .pane-title {
  background: #3A617D; }
  .site-inicioca #inicio_home_slider .pane-title:before {
    background-position: -186px -53px; }
.site-inicioca .facebookca-content .pane-title {
  background: #2F6293; }
  .site-inicioca .facebookca-content .pane-title:before {
    background-position: -229px -101px; }
.site-inicioca .twitterca-content .pane-title {
  background: #27A1D6; }
  .site-inicioca .twitterca-content .pane-title:before {
    background-position: -271px -5px; }
.site-inicioca .alleys .pane-title {
  background: transparent;
  padding: 10px 10px 10px 58px !important; }
  .site-inicioca .alleys .pane-title:before {
    background-position: -266px -54px !important;
    width: 38px !important; }

/**
 * Main Menu Styles
 * --------------------------------------------------
 */
.site-inicioca #microsite_panel .slide .pane-content > .menu {
  background-color: transparent !important; }
  .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu {
    display: flex;
    align-items: center; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > a {
      padding: 5px 5px 5px 40px !important;
      font-size: 13px !important;
      font-weight: 400 !important;
      height: 40px;
      background: #29879E;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 0 5px;
      position: relative; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > a:before {
      content: "";
      min-width: 35px;
      height: 50px;
      background: url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat;
      border-top: 5px solid rgba(0, 0, 0, 0.3);
      position: absolute;
      top: -5px;
      left: 0; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu:first-child > a:before {
      background-color: #FF6E1F;
      background-position: -98px -11px; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu:nth-child(2) > a:before {
      background-color: #00C9CA;
      background-position: -23px -11px; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu:nth-child(3) > a:before {
      background-color: #00CA3D;
      background-position: -23px -54px; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu:nth-child(4) > a:before {
      background-color: #1E7AD7;
      background-position: -23px -103px; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu:nth-child(5) > a:before {
      background-color: #C33357;
      background-position: -60px -11px; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu:nth-child(6) > a:before {
      background-color: #EDC211;
      background-position: -60px -54px; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu:nth-child(7) > a:before {
      background-color: #8823EB;
      background-position: -60px -103px; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu {
      top: 95%;
      height: 0px;
      background: transparent;
      z-index: 100; }
      .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li {
        display: block; }
        .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li:first-child {
          border-top: none; }
        .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li:last-child {
          border-bottom: none; }
        .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li a {
          background-color: #0b204e !important;
          border-bottom: 1px solid rgba(153, 153, 153, 0.4) !important;
          color: white !important;
          line-height: 14px;
          font-size: 14px !important;
          height: auto;
          padding: 15px; }
          .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li a:hover {
            background: #000a34 !important;
            color: #cc8e55 !important;
            text-decoration: none;
            padding: 18px 15px !important;
            display: block;
            font-weight: 600;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }
  .site-inicioca #microsite_panel .slide .pane-content > .menu li:hover {
    color: #cc8e55;
    text-decoration: none !important;
    background-color: transparent; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li:hover a {
      background-color: #15414c !important;
      text-decoration: underline !important; }
  .site-inicioca #microsite_panel .slide .pane-content > .menu li.expanded > a:hover {
    color: #cc8e55 !important;
    text-decoration: none !important;
    background-color: #15414c; }
  .site-inicioca #microsite_panel .slide .pane-content > .menu:hover {
    color: #cc8e55 !important;
    text-decoration: none !important; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu:hover li.parent_menu > .children_menu:hover {
      background-color: #15414c;
      height: auto; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu:hover li.parent_menu > .children_menu > a:hover {
      color: #cc8e55 !important;
      text-decoration: none !important; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu:hover li.parent_menu:hover > .children_menu {
      height: auto; }
@media (min-width: 992px) {
  .site-inicioca #microsite_panel .slide .pane-content > .menu {
    display: flex;
    align-items: center; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > a {
      min-width: 60px; } }
@media (max-width: 991px) {
  .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu {
    width: 100%; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > a {
      min-width: 100%; } }
@media (max-width: 767px) {
  .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu {
    width: 100%; }
    .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > a, .site-inicioca #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li a {
      padding: 10px 15px !important; } }
@media (min-width: 1100px) {
  .site-inicioca #microsite_panel .slide {
    top: 205px; } }
@media (min-width: 1050px) and (max-width: 1099px) {
  .site-inicioca #microsite_panel .slide {
    top: 190px; } }
@media (min-width: 992px) and (max-width: 1049px) {
  .site-inicioca #microsite_panel .slide {
    top: 18.4vw; } }
@media (min-width: 992px) {
  .site-inicioca #microsite_panel .slide {
    position: absolute;
    right: 0;
    width: 760px; } }

/**
 * Slider Styles
 * --------------------------------------------------
 */
.site-inicioca #inicio_home_slider {
  overflow: hidden;
  height: 100%;
  padding-top: 10px;
  margin-bottom: 26px; }
  .site-inicioca #inicio_home_slider .views_slideshow_controls_text_next,
  .site-inicioca #inicio_home_slider .views-slideshow-controls-text-previous {
    width: 55px;
    height: 55px; }
    .site-inicioca #inicio_home_slider .views_slideshow_controls_text_next a,
    .site-inicioca #inicio_home_slider .views-slideshow-controls-text-previous a {
      height: 100%;
      display: block;
      color: transparent;
      padding-bottom: 35px; }
  .site-inicioca #inicio_home_slider .views-slideshow-controls-text-pause {
    display: none; }
  .site-inicioca #inicio_home_slider .views_slideshow_controls_text_next {
    float: right; }
    .site-inicioca #inicio_home_slider .views_slideshow_controls_text_next a {
      background: rgba(0, 0, 0, 0.7) url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat -256px -97px; }
      .site-inicioca #inicio_home_slider .views_slideshow_controls_text_next a:hover {
        background: rgba(255, 255, 255, 0.7) url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat -297px -97px; }
  .site-inicioca #inicio_home_slider .views-slideshow-controls-text-previous {
    float: left; }
    .site-inicioca #inicio_home_slider .views-slideshow-controls-text-previous a {
      background: rgba(0, 0, 0, 0.7) url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat -303px -2px; }
      .site-inicioca #inicio_home_slider .views-slideshow-controls-text-previous a:hover {
        background: rgba(255, 255, 255, 0.7) url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat -303px -49px; }
  .site-inicioca #inicio_home_slider .views_slideshow_slide, .site-inicioca #inicio_home_slider .views_slideshow_slide img {
    width: 100% !important; }
  .site-inicioca #inicio_home_slider .views_slideshow_slide label {
    color: white;
    font-size: 36px; }
  .site-inicioca #inicio_home_slider .views_slideshow_slide .views-field-body .field-content p {
    color: white !important;
    background-color: rgba(255, 255, 255, 0) !important; }
  .site-inicioca #inicio_home_slider .views_slideshow_slide .field-content p {
    font-size: 13px;
    margin: 0 25% 20px 0 !important; }
  .site-inicioca #inicio_home_slider .views_slideshow_slide > div {
    position: relative; }
    .site-inicioca #inicio_home_slider .views_slideshow_slide > div .views-field-nothing {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: rgba(41, 135, 158, 0.8);
      color: white;
      border-left: 7px solid #5BDEF4; }
      .site-inicioca #inicio_home_slider .views_slideshow_slide > div .views-field-nothing .title {
        border: none;
        margin-bottom: 5px; }
        .site-inicioca #inicio_home_slider .views_slideshow_slide > div .views-field-nothing .title a {
          color: white;
          font-weight: 600;
          font-size: 17px;
          margin: 0; }
      .site-inicioca #inicio_home_slider .views_slideshow_slide > div .views-field-nothing .body {
        color: white;
        font-size: 12px; }
    .site-inicioca #inicio_home_slider .views_slideshow_slide > div .views-field-php {
      position: absolute;
      bottom: 15%;
      left: 10%; }
    .site-inicioca #inicio_home_slider .views_slideshow_slide > div .btn-info {
      color: white;
      border: 2px solid white; }
      .site-inicioca #inicio_home_slider .views_slideshow_slide > div .btn-info:hover {
        color: #5b5b5b !important;
        border: 2px solid #5b5b5b !important; }
        .site-inicioca #inicio_home_slider .views_slideshow_slide > div .btn-info:hover span {
          background: url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat -105px -200px !important; }
      .site-inicioca #inicio_home_slider .views_slideshow_slide > div .btn-info span {
        height: 27px;
        width: 27px;
        margin-left: 15px;
        float: right;
        background: url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat -174px -25px; }
  .site-inicioca #inicio_home_slider .views-more-link {
    color: #EBA95E;
    padding: 4px 25px;
    font-weight: 600; }
  .site-inicioca #inicio_home_slider .views-field-title {
    position: absolute;
    bottom: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
    .site-inicioca #inicio_home_slider .views-field-title h1 {
      margin: 0;
      padding: 15px 15px 0; }
      .site-inicioca #inicio_home_slider .views-field-title h1 * {
        color: white;
        font-weight: 600;
        font-size: 18px;
        display: block;
        border-bottom: 1px solid white;
        text-align: left; }
  .site-inicioca #inicio_home_slider .skin-default {
    position: relative; }
  .site-inicioca #inicio_home_slider .views-slideshow-controls-bottom {
    position: absolute;
    top: 33%;
    width: 100%;
    z-index: 10;
    padding: 0; }
  @media (min-width: 992px) {
    .site-inicioca #inicio_home_slider .views-field-nothing {
      width: 40%;
      height: 40%;
      padding: 0 15px 15px 30px; } }
  @media (max-width: 991px) {
    .site-inicioca #inicio_home_slider .views-field-nothing {
      width: 100%;
      height: 20%;
      padding: 0 15px 0 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start; } }
  @media (max-width: 767px) {
    .site-inicioca #inicio_home_slider .views_slideshow_slide > div .views-field-php, .site-inicioca #inicio_home_slider .views_slideshow_slide > div .views-field-body {
      display: none; }
    .site-inicioca #inicio_home_slider .views_slideshow_slide > div .views-field-title {
      bottom: 0;
      height: 60px;
      padding: 0 65px; }
    .site-inicioca #inicio_home_slider .views-field-nothing .body {
      display: none; } }

/**
 * Tables Styles
 * --------------------------------------------------
 */
.th-text-styles, .site-inicioca .content table thead th, .site-inicioca .content table thead th a, .site-inicioca .content table thead th a:hover, .site-inicioca .content table thead th:hover {
  text-decoration: none;
  color: white;
  text-shadow: none;
  font-size: 15px;
  font-weight: 600; }

.site-inicioca .content .table-responsive {
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
  border: none; }
  .site-inicioca .content .table-responsive tbody tr {
    border-bottom: none; }
    .site-inicioca .content .table-responsive tbody tr:nth-child(odd) {
      background: #b8dcef; }
    .site-inicioca .content .table-responsive tbody tr:nth-child(even) {
      background: #9fcfea; }
    .site-inicioca .content .table-responsive tbody tr:hover {
      background: #4470B3;
      -webkit-transition: all 150ms ease-out;
      -moz-transition: all 150ms ease-out;
      -ms-transition: all 150ms ease-out;
      -o-transition: all 150ms ease-out;
      transition: all 150ms ease-out; }
      .site-inicioca .content .table-responsive tbody tr:hover * {
        color: white !important; }
      .site-inicioca .content .table-responsive tbody tr:hover th, .site-inicioca .content .table-responsive tbody tr:hover td {
        color: white;
        -webkit-transition: all 150ms ease-out;
        -moz-transition: all 150ms ease-out;
        -ms-transition: all 150ms ease-out;
        -o-transition: all 150ms ease-out;
        transition: all 150ms ease-out; }
    .site-inicioca .content .table-responsive tbody tr th, .site-inicioca .content .table-responsive tbody tr td {
      padding: 15px !important;
      vertical-align: middle !important;
      color: black; }
    .site-inicioca .content .table-responsive tbody tr td:last-child {
      min-width: 100px; }
  .site-inicioca .content .table-responsive td > a {
    color: #243268;
    display: inline-block; }
  .site-inicioca .content .table-responsive table tr th {
    text-shadow: none;
    vertical-align: middle; }
  .site-inicioca .content .table-responsive tr, .site-inicioca .content .table-responsive tr.even {
    border-bottom: 0px;
    border-top: 0px; }
  .site-inicioca .content .table-responsive tfoot tr td:last-child {
    border-right: none; }
  .site-inicioca .content .table-responsive tfoot td {
    padding: 3px 3px 3px 3px; }
  @media screen and (max-width: 767px) {
    .site-inicioca .content .table-responsive .table > tbody > tr > td, .site-inicioca .content .table-responsive .table > tbody > tr > th, .site-inicioca .content .table-responsive .table > tfoot > tr > td, .site-inicioca .content .table-responsive .table > tfoot > tr > th, .site-inicioca .content .table-responsive .table > thead > tr > td, .site-inicioca .content .table-responsive .table > thead > tr > th {
      white-space: normal; } }
.site-inicioca .content table > thead {
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px; }
  .site-inicioca .content table > thead > tr > th {
    background: #0b204e;
    padding: 15px; }
    .site-inicioca .content table > thead > tr > th:first-child {
      border-top-left-radius: 15px;
      border: none; }
    .site-inicioca .content table > thead > tr > th:last-child {
      border-top-right-radius: 15px;
      border: none; }
.site-inicioca .content .table-bordered {
  border: none; }
  .site-inicioca .content .table-bordered > thead > tr > td, .site-inicioca .content .table-bordered > thead > tr > th {
    border-bottom: none; }

/**
 * Buttons Styles
 * --------------------------------------------------
 */
.site-inicioca .btn {
  background: #1A254E;
  color: white;
  font-weight: 600;
  border: none; }
  .site-inicioca .btn:hover {
    background: #6EA7D5 !important;
    border: none; }
.site-inicioca .icon-button {
  background: #EBA95E;
  padding: 10px 16px 10px 50px;
  position: relative; }
  .site-inicioca .icon-button span {
    background: url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat;
    height: 45px;
    width: 45px;
    position: absolute;
    left: 0;
    top: 0; }
.site-inicioca .pdf-button span {
  background-position: -133px -6px; }
.site-inicioca .excel-button span {
  background-position: -133px -62px; }
.site-inicioca .more-info-button span {
  background-position: -189px -6px; }
.site-inicioca .table button {
  white-space: normal; }

/**
 * Modals Styles
 * --------------------------------------------------
 */
.site-inicioca .modal .modal-content {
  border-radius: 16px;
  border: 3px solid #858585;
  overflow: hidden; }
.site-inicioca .modal .modal-header {
  background: white;
  border-radius: 15px 15px 0 0;
  border: none;
  padding: 15px 15px 0; }
  .site-inicioca .modal .modal-header h3 {
    color: white;
    font-size: 22px;
    padding: 0 15px;
    margin: 0; }
  .site-inicioca .modal .modal-header .close {
    background: rgba(255, 255, 255, 0.8);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid #858585;
    line-height: 0;
    color: #858585;
    font-size: 30px;
    padding-bottom: 6px;
    opacity: 1; }
    .site-inicioca .modal .modal-header .close:hover {
      opacity: 0.5; }
.site-inicioca .modal .modal-body {
  background: white;
  padding: 0 15px 15px; }
  .site-inicioca .modal .modal-body h4 {
    text-transform: none;
    font-size: 19px;
    font-weight: 700;
    margin: 0 15px 15px 15px;
    color: #1A254E !important; }
  .site-inicioca .modal .modal-body p {
    border-top: 1px solid white;
    margin: -1px 15px !important;
    padding: 15px 0;
    color: black !important; }
    .site-inicioca .modal .modal-body p:not(:last-child) {
      border-bottom: 1px solid white; }
.site-inicioca .modal .modal-footer > * {
  width: 25%;
  height: 50px; }
.site-inicioca .modal .modal-footer .bienestar-laboral-logo {
  float: left;
  background: url("http://52.37.84.217/inicio-ca/img/logo-bienestarlaboral.png") no-repeat center/contain; }
.site-inicioca .modal .modal-footer .new-country-logo {
  background: url("http://52.37.84.217/inicio-ca/img/logo-nuevopais.png") no-repeat center/contain; }
.site-inicioca .modal .modal-footer .mineducacion-logo {
  background: url("http://52.37.84.217/inicio-ca/img/logo-mineducacion.png") no-repeat center/contain; }
.site-inicioca .modal .modal-footer .new-country-logo, .site-inicioca .modal .modal-footer .mineducacion-logo {
  float: right; }
@media (max-width: 767px) {
  .site-inicioca .modal .modal-footer > * {
    width: 33% !important; } }

/**
 * Tabs Styles
 * --------------------------------------------------
 */
.site-inicioca .tabs-content {
  margin: 20px 0; }
.site-inicioca ul.nav.nav-tabs {
  display: flex; }
  .site-inicioca ul.nav.nav-tabs a {
    color: #061236;
    font-weight: 600; }
  .site-inicioca ul.nav.nav-tabs li.active a {
    background-color: white;
    color: #EBA95E; }
.site-inicioca .tab-content {
  background-color: white; }
.site-inicioca div .tab-pane.fade {
  padding: 10px; }
.site-inicioca .quicktabs-wrapper {
  margin: 20px 0; }
  .site-inicioca .quicktabs-wrapper .quicktabs-tabs {
    overflow: visible;
    border: none;
    height: auto; }
    .site-inicioca .quicktabs-wrapper .quicktabs-tabs li {
      padding: 10px 15px !important;
      border-bottom: 1px solid lightgray; }
      .site-inicioca .quicktabs-wrapper .quicktabs-tabs li a, .site-inicioca .quicktabs-wrapper .quicktabs-tabs li a:hover {
        color: #061236;
        font-weight: 600;
        font-size: 14px; }
      .site-inicioca .quicktabs-wrapper .quicktabs-tabs li a:hover {
        text-decoration: underline; }
      .site-inicioca .quicktabs-wrapper .quicktabs-tabs li.active {
        top: 0;
        border: 1px solid lightgray !important;
        border-bottom: 3px solid white !important;
        padding: 9px 15px !important;
        position: relative !important; }
        .site-inicioca .quicktabs-wrapper .quicktabs-tabs li.active a {
          border: none;
          color: #EBA95E;
          text-decoration: blink; }
  .site-inicioca .quicktabs-wrapper .quicktabs_main {
    border-top: 1px solid lightgray;
    top: -1px;
    position: relative;
    padding: 15px; }
  @media (max-width: 767px) {
    .site-inicioca .quicktabs-wrapper .quicktabs-tabs li {
      height: auto;
      width: auto; } }

/**
* Accordion Styles
* --------------------------------------------------
*/
.site-inicioca .panel-default > .panel-heading {
  padding: 0px !important; }
  .site-inicioca .panel-default > .panel-heading > a {
    padding: 10px 15px;
    display: block;
    text-align: initial;
    text-decoration: none;
    border-radius: 8px 8px 5px 5px; }
    .site-inicioca .panel-default > .panel-heading > a[aria-expanded="true"] {
      background-color: #1A254E !important; }
      .site-inicioca .panel-default > .panel-heading > a[aria-expanded="true"] h4 {
        font-weight: 700; }
    .site-inicioca .panel-default > .panel-heading > a > h4 {
      color: white;
      margin: 0px !important;
      font-weight: 500; }
.site-inicioca .panel-default:nth-child(odd) > .panel-heading > a {
  background-color: #6EA7D5; }
.site-inicioca .panel-default:nth-child(even) > .panel-heading > a {
  background-color: #4470b3; }
.site-inicioca .panel-default .panel-collapse {
  margin: -3px 0; }
  .site-inicioca .panel-default .panel-collapse .panel-body {
    border-top: none;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 18px 15px; }
.site-inicioca .panel {
  border: none; }
  .site-inicioca .panel .panel-default {
    border-radius: 10px; }
.site-inicioca .panel-group .panel + .panel {
  margin-top: 0px; }
.site-inicioca .ui-accordion .ui-icon {
  display: none; }
.site-inicioca .ui-accordion .views-row {
  border-radius: 8px; }
  .site-inicioca .ui-accordion .views-row .views-field-title {
    border: none;
    margin: 0;
    background: none !important;
    border-radius: 8px 8px 0 0; }
    .site-inicioca .ui-accordion .views-row .views-field-title a {
      text-align: left;
      padding: 10px 15px;
      line-height: 100%; }
      .site-inicioca .ui-accordion .views-row .views-field-title a .field-content {
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px; }
  .site-inicioca .ui-accordion .views-row:nth-child(odd) {
    background: #6EA7D5 !important; }
  .site-inicioca .ui-accordion .views-row:nth-child(even) {
    background: #4470b3 !important; }
  .site-inicioca .ui-accordion .views-row .ui-state-active {
    background: #1A254E !important; }
    .site-inicioca .ui-accordion .views-row .ui-state-active .field-content {
      font-weight: 700 !important; }

/**
 * Lateral Menu Styles
 * --------------------------------------------------
 */
.site-inicioca .main-lateral-panel {
  padding-top: 10px; }
  .site-inicioca .main-lateral-panel .pane-content ul {
    background-color: transparent !important; }
    .site-inicioca .main-lateral-panel .pane-content ul > li {
      margin-top: 5px;
      background-color: #278a9b !important;
      width: 100%; }
      .site-inicioca .main-lateral-panel .pane-content ul > li:hover {
        background-color: #1b5e69 !important; }
      .site-inicioca .main-lateral-panel .pane-content ul > li > a {
        padding: 0 15px 0 60px !important;
        text-align: left;
        display: flex !important;
        align-items: center;
        font-weight: 400 !important;
        position: relative;
        height: 60px; }
        .site-inicioca .main-lateral-panel .pane-content ul > li > a:before {
          content: "";
          width: 48px;
          height: 60px;
          background: #5BDEF4 url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat;
          position: absolute;
          top: 0;
          left: 0; }
        .site-inicioca .main-lateral-panel .pane-content ul > li > a:hover {
          text-decoration: none !important; }
      .site-inicioca .main-lateral-panel .pane-content ul > li:first-child > a:before {
        background-position: -91px -48px; }
      .site-inicioca .main-lateral-panel .pane-content ul > li:nth-child(2) > a:before {
        background-position: -91px -95px; }
      .site-inicioca .main-lateral-panel .pane-content ul > li:nth-child(3) > a:before {
        background-position: -132px 0; }
      .site-inicioca .main-lateral-panel .pane-content ul > li:nth-child(4) > a:before {
        background-position: -132px -52px; }
      .site-inicioca .main-lateral-panel .pane-content ul > li:nth-child(5) > a:before {
        background-position: -132px -96px; }
      .site-inicioca .main-lateral-panel .pane-content ul > li:nth-child(6) > a:before {
        background-position: -177px 1px; }
  @media (min-width: 992px) {
    .site-inicioca .main-lateral-panel {
      padding-right: 0; } }

/**
 * Pager Styles
 * --------------------------------------------------
 */
.site-inicioca .content .pager li > a {
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: white;
  font-weight: bold;
  color: black; }
.site-inicioca .content .pager .pager-current {
  background-color: white;
  color: #DE3A73;
  width: 40px; }
.site-inicioca .content .pager .pager-first a, .site-inicioca .content .pager .pager-previous a, .site-inicioca .content .pager .pager-next a, .site-inicioca .content .pager .pager-last a {
  background: url("http://52.37.84.217/inicio-ca/img/img-pager-spritesheet.png"); }
.site-inicioca .content .pager .pager-first a {
  background-position: 3px -20px; }
.site-inicioca .content .pager .pager-previous a {
  background-position: 3px 3px; }
.site-inicioca .content .pager .pager-next a {
  background-position: -20px 3px; }
.site-inicioca .content .pager .pager-last a {
  background-position: -21px -20px; }
.site-inicioca .pager-previous + .pager-item:before, .site-inicioca .pager-item + .pager-current:before,
.site-inicioca .pager-current + .pager-item:before, .site-inicioca .pager-item + .pager-item:before,
.site-inicioca .pager-item + .pager-next:before {
  content: " | ";
  color: black;
  font-weight: bold; }
.site-inicioca .pager-item + .pager-current:before {
  padding-right: 7px; }

/**
 * Search Banner Styles
 * --------------------------------------------------
 */
.site-inicioca .search-banner {
  background: url("http://52.37.84.217/inicio-ca/img/img_search_bg.png") no-repeat 0 0/100% 100%; }
  .site-inicioca .search-banner .panels-flexible-region {
    background: transparent !important;
    text-align: center;
    margin-top: 12%; }
  .site-inicioca .search-banner .form-item input {
    padding: 5px;
    width: 40%; }
  .site-inicioca .search-banner .form-actions input {
    background: #FF6E1F url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat 6px 7px;
    border: none;
    height: 40px;
    border-top: 4px solid #F05127;
    width: 35px;
    margin-left: -8px;
    color: transparent; }
  .site-inicioca .search-banner p {
    text-align: center;
    color: white !important;
    margin: 0 !important;
    font-size: 16px !important; }
  @media (min-width: 1100px) {
    .site-inicioca .search-banner {
      height: 260px; } }
  @media (min-width: 1025px) and (max-width: 1099px) {
    .site-inicioca .search-banner {
      height: 244px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .site-inicioca .search-banner {
      height: 23.5vw; } }
  @media (max-width: 767px) {
    .site-inicioca .search-banner {
      height: 22.5vw; }
      .site-inicioca .search-banner p {
        display: none; } }

.site-inicioca .alleys {
  background-color: #38627f !important; }
  .site-inicioca .alleys > pane-title {
    color: white;
    margin-left: 30px;
    padding: 10px; }
    .site-inicioca .alleys > pane-title:before {
      content: "";
      width: 40px;
      height: 40px;
      background: url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat;
      background-position: -265px -55px;
      position: absolute;
      top: 12px;
      left: 15px; }
  .site-inicioca .alleys .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 100% !important; }
    .site-inicioca .alleys .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-skin-default .jcarousel-clip-horizontal {
      width: 100% !important; }
    .site-inicioca .alleys .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-item.jcarousel-item-horizontal .alleys {
      min-height: 140px;
      min-width: 140px;
      margin-bottom: 50px; }
      .site-inicioca .alleys .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-item.jcarousel-item-horizontal .alleys .views-field.views-field-field-imagen-contenido {
        height: 130px;
        width: 130px; }
        .site-inicioca .alleys .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-item.jcarousel-item-horizontal .alleys .views-field.views-field-field-imagen-contenido img {
          width: 100%; }
    .site-inicioca .alleys .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip.jcarousel-clip-horizontal {
      width: 100%; }
    .site-inicioca .alleys .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-list-horizontal {
      width: 4200px !important; }
      .site-inicioca .alleys .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-list-horizontal > li {
        width: 200px !important;
        height: 200px !important; }
  .site-inicioca .alleys .view-content {
    min-height: 250px; }
  .site-inicioca .alleys .jcarousel-next.jcarousel-next-horizontal {
    top: 100px !important; }
  .site-inicioca .alleys .jcarousel-prev.jcarousel-prev-horizontal {
    top: 100px !important; }
.site-inicioca .jcarousel-skin-default .jcarousel-container-horizontal {
  width: 100% !important; }
  .site-inicioca .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 100% !important; }
    .site-inicioca .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-skin-default .jcarousel-clip-horizontal .views-field.views-field-field-imagen-contenido img {
      width: 100%; }
  .site-inicioca .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-next.jcarousel-next-horizontal {
    background-image: url(http://52.37.84.217/inicio-ca/img/img-spritesheet.png) !important;
    background-position: -313px -312px !important; }
  .site-inicioca .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-prev.jcarousel-prev-horizontal {
    background-image: url(http://52.37.84.217/inicio-ca/img/img-spritesheet.png);
    background-position: -313px -312px; }
.site-inicioca #jcarousel-sup .jcarousel-list-horizontal {
  width: 1300px !important; }

.site-inicioca #jcarousel-sup, .site-inicioca #jcarousel-mid {
  margin-top: 20px;
  padding: 10px; }
  .site-inicioca #jcarousel-sup > h2, .site-inicioca #jcarousel-mid > h2 {
    font-weight: 700;
    margin-top: 10px;
    padding: 10px;
    padding-left: 50px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    color: #2a87a1;
    border-bottom: 2px solid #38627f; }
    .site-inicioca #jcarousel-sup > h2:before, .site-inicioca #jcarousel-mid > h2:before {
      content: "";
      width: 40px;
      height: 40px;
      background: url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat;
      position: absolute;
      top: 22px;
      left: 15px; }
  .site-inicioca #jcarousel-sup > .pane-content, .site-inicioca #jcarousel-mid > .pane-content {
    padding: 15px;
    background-color: #dbeef6 !important; }
  .site-inicioca #jcarousel-sup .quicktabs-tabs > li, .site-inicioca #jcarousel-mid .quicktabs-tabs > li {
    margin-left: 8px;
    background-color: #dbeef6;
    border: 1px solid #2a87a1;
    border-radius: 10px 10px 0px 0px; }
    .site-inicioca #jcarousel-sup .quicktabs-tabs > li > a, .site-inicioca #jcarousel-mid .quicktabs-tabs > li > a {
      color: #2a87a1; }
  .site-inicioca #jcarousel-sup .quicktabs-tabs > .active, .site-inicioca #jcarousel-mid .quicktabs-tabs > .active {
    background-color: #2a87a1;
    border: none !important; }
    .site-inicioca #jcarousel-sup .quicktabs-tabs > .active a, .site-inicioca #jcarousel-mid .quicktabs-tabs > .active a {
      color: white !important; }
.site-inicioca #jcarousel-sup > h2:before {
  background-position: -222px -10px; }
.site-inicioca #jcarousel-mid > h2:before {
  background-position: -222px -56px; }
.site-inicioca #jcarousel-mid .quicktabs_main {
  top: -5px !important;
  background-color: #2a87a1 !important; }

.site-inicioca .panel-pane.pane-views.pane-recent-agenda > h2 {
  font-weight: 700;
  margin-top: 10px;
  padding: 10px;
  padding-left: 50px;
  background-color: #2a87a1;
  border-radius: 10px 10px 0px 0px;
  color: white;
  border-bottom: 2px solid #38627f; }
  .site-inicioca .panel-pane.pane-views.pane-recent-agenda > h2:before {
    content: "";
    width: 40px;
    height: 40px;
    background: url("http://52.37.84.217/inicio-ca/img/img-spritesheet.png") no-repeat;
    background-position: -179px -102px;
    position: absolute;
    top: 12px;
    left: 15px; }
.site-inicioca .panel-pane.pane-views.pane-recent-agenda .agenda_quicktab {
  display: none; }
.site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content > .views-row {
  margin-top: 20px;
  display: inline-block; }
.site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-field-field-ag-image {
  width: 40%;
  display: block;
  float: left; }
.site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-field-title {
  width: 55%;
  margin-left: 15px;
  display: inline-block; }
  .site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-field-title:before {
    content: "";
    width: 3px;
    height: 15px;
    background-color: #43c6d7; }
  .site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-field-title a {
    text-decoration: none;
    color: black;
    font-weight: 600; }
.site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-field-created {
  width: 55%;
  margin-left: 15px;
  display: inline-block; }
.site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-label-created {
  display: none; }
.site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-field-body {
  width: 57%;
  margin-left: 5px;
  display: inline-block; }
.site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-row-first .views-field-field-ag-image {
  width: 60%; }
.site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-row-first .views-field-title {
  width: 35%; }
  .site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-row-first .views-field-title:before {
    content: "";
    width: 3px;
    height: 15px;
    background-color: #e36e30; }
.site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-row-first .views-field-created {
  width: 35%; }
.site-inicioca .panel-pane.pane-views.pane-recent-agenda .view-content .views-row-first .views-field-body {
  width: 37%; }

/*# sourceMappingURL=site-styles.css.map */
