.#{$site-name} {

  .contextual-links-region.panel-pane.pane-views-panes.pane-estudiantes-2016-panel-pane-6.col-md-12.alleys {
    background-color: $highligted-content-dark !important;
    &>pane-title{
      color: white;
      margin-left: 30px;
      padding: 10px;

      &:before{
        content: "";
        width: 40px;
        height: 40px;
        background: url("#{$images-path}img-spritesheet.png") no-repeat;
        background-position: -265px -55px;
        position: absolute;
        top: 12px;
        left: 15px;
      }
    }

    .jcarousel-skin-default .jcarousel-container-horizontal{
      width: 100% !important;
      .jcarousel-skin-default .jcarousel-clip-horizontal{
        width: 100% !important;
      }
      .jcarousel-item.jcarousel-item-horizontal .alleys {
        min-height: 140px;
        min-width: 140px;
        margin-bottom: 50px;
        .views-field.views-field-field-imagen-contenido {
          height: 130px;
          width: 130px;
          img{
            width: 100%;
          }
        }
      }
      .jcarousel-clip.jcarousel-clip-horizontal{
        width: 100%;
      }
      .jcarousel-list-horizontal{
        width: 4200px !important;
        &>li{
          width: 200px !important;
          height: 200px !important;
        }
      }
    }
    .view-content{
      min-height: 250px;
    }
  }

  .jcarousel-skin-default .jcarousel-clip-horizontal{
    width: 100% !important;
    .views-field.views-field-field-imagen-contenido {
      img{
        width: 100%;
      }
    }
  }
  #jcarousel-sup{
    .jcarousel-list-horizontal{
      width: 1300px !important;
      
    }
  }
}
