/**
 * Headings Styles
 * --------------------------------------------------
 */
.content-header-styles {
    font-weight: normal;
    color: $headers-default-text-color;
    margin-bottom: 0px !important;
}
.#{$site-name} {
    .content {
        h1 {
            color: $h2-text-color;
            margin-top: 30px;
            font-size: 30px;
            @extend .content-header-styles;
        }
        h2 {
            font-size: 20px;
            color: $h2-text-color;
            margin-top: 25px;
            font-weight: 600;
            @extend .content-header-styles;
        }
        h3 {
            font-size: 16px;
            color: $h2-text-color;
            font-weight: 600;
            margin-top: 20px;
            display: inline-block;
            padding-right: 10px;
            @extend .content-header-styles;
        }
        h4 {
            color: $h2-text-color;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            margin-top: 15px;
            @extend .content-header-styles;
        }
    }
    h2.title {
        display: none;
    }
    ##{$site-slider}, .facebookca-content, .twitterca-content {
        .pane-title {
            background: $slider-title-bg;
            color: white;
            padding: 10px 10px 10px 50px;
            margin-top: 5px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            position: relative;

            &:before {
                content: "";
                height: 45px;
                width: 30px;
                position: absolute;
                top: 0;
                left: 15px;
                background: url("#{$images-path}img-spritesheet.png") no-repeat;
          }
       }
    }
    ##{$site-slider} {
        .pane-title {
            background: $slider-title-bg;

            &:before {
              background-position: -186px -53px;
            }
        }
    }
    .facebookca-content {
        .pane-title {
            background: $facebook-title-bg;

            &:before {
              background-position: -229px -101px;
            }
        }
    }
    .twitterca-content {
        .pane-title {
            background: $twitter-title-bg;

            &:before {
              background-position: -271px -5px;
            }
        }
    }
}
