.#{$site-name} {
  #jcarousel-sup, #jcarousel-mid{
    margin-top: 20px;
    padding: 10px;
    &>h2{
      font-weight: 700;
      &:before{
        content: "";
        width: 40px;
        height: 40px;
        background: url("#{$images-path}img-spritesheet.png") no-repeat;
        position: absolute;
        top: 22px;
        left: 15px;
      }
      margin-top: 10px;
      padding: 10px;
      padding-left: 50px;
      background-color: white;
      border-radius: 10px 10px 0px 0px;
      color: $highligted-content;
      border-bottom: 2px solid $highligted-content-dark;
    }
    &>.pane-content{
      background-color: $highligted-content-bg !important;
    }
    .quicktabs-tabs{
      &>li {
        margin-left: 8px;
        background-color: $highligted-content-bg;
        border: 1px solid $highligted-content;
        border-radius: 10px 10px 0px 0px;
        &>a{
          color: $highligted-content;
        }
      }
      &>.active {
        background-color: $highligted-content;
        border: none !important;
        a{
          color: white !important;
        }
      }
    }
  }
  #jcarousel-sup{
    &>h2{
      &:before{
        background-position: -222px -10px;
      }
    }
    &>.pane-content{
      padding: 15px;
    }
  }
  #jcarousel-mid{
    &>h2{
      &:before{
        background-position: -222px -56px;
      }
    }
    &>.pane-content{
      padding: 5px 10px;
    }

    .quicktabs_main {
      top: -5px !important;
      background-color:  $highligted-content !important;
    }
  }


}
