/**
 * Lateral Menu Styles
 * --------------------------------------------------
 */

 .#{$site-name} {
   .main-lateral-panel{
     padding-right: 0px;
     padding-top: 10px;
     .pane-content{
       ul{
         background-color: transparent !important;
         & > li{
          margin-top: 5px;
          background-color: $lateral-menu-bg !important;
          width: 100%;
          &:hover{
             background-color: $lateral-menu-hover-bg;
             }

           & > a{
             padding: 10px 0px !important;
             &:hover{
               text-decoration: none !important;
             }
           }
         }
       }
     }
   }
 }
