/**
 * Main Menu Styles
 * --------------------------------------------------
 */
 .#{$site-name} {
   #microsite_panel {
      .slide {
          .pane-content {
              & > .menu {
                background-color: transparent !important;

                  li {
                      &.parent_menu {
                          display: flex;
                          align-items: center;

                          & > a {
                            padding: 5px 5px 5px 40px !important;
                            font-size: 13px !important;
                            font-weight: 400 !important;
                            height: 40px;
                            background: $main-menu-item-color;
                            border: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 5px 0 5px;
                            position: relative;
                          }
                          & > a:before {
                              content: "";
                              min-width: 35px;
                              height: 50px;
                              background: url("#{$images-path}img-spritesheet.png") no-repeat;
                              border-top: 5px solid rgba(black, 0.3);
                              position: absolute;
                              top: -5px;
                              left: 0;
                          }
                          &:first-child > a:before {
                              background-color: $main-menu-item-first-icon;
                              background-position: -98px -11px;
                          }
                          &:nth-child(2) > a:before {
                              background-color: $main-menu-item-second-icon;
                              background-position: -23px -11px;
                          }
                          &:nth-child(3) > a:before {
                              background-color: $main-menu-item-third-icon;
                              background-position: -23px -54px;
                          }
                          &:nth-child(4) > a:before {
                              background-color: $main-menu-item-fourth-icon;
                              background-position: -23px -103px;
                          }
                          &:nth-child(5) > a:before {
                              background-color: $main-menu-item-fifth-icon;
                              background-position: -60px -11px;
                          }
                          &:nth-child(6) > a:before {
                              background-color: $main-menu-item-sixth-icon;
                              background-position: -60px -54px;
                          }
                          &:nth-child(7) > a:before {
                              background-color: $main-menu-item-seventh-icon;
                              background-position: -60px -103px;
                          }
                          & > .children_menu {
                              top: 95%;
                              height: 0px;
                              background: transparent;
                              z-index:100;

                              li {
                                  display: block;

                                  &:first-child {
                                    border-top: none;
                                  }
                                  &:last-child {
                                    border-bottom:none;
                                  }
                                  a {
                                    background-color: $main-menu-item-bg !important;
                                    border-bottom: 1px solid $main-menu-item-separator !important;
                                    color: white !important;
                                    line-height: 14px;
                                    font-size: 14px!important;
                                    height: auto;
                                    padding: 15px;

                                    &:hover {
                                        background: $main-menu-item-hover-bg !important;
                                        color: $main-menu-text-hover !important;
                                        text-decoration: none;
                                        padding: 18px 15px!important;
                                        display: block;
                                        font-weight: 600;
                                        @include transition-properties(all 0.2s ease);
                                    }
                                  }
                              }
                          }
                      }
                      &:hover{
                          color: $main-menu-text-hover;
                          text-decoration: none !important;
                          background-color: transparent;

                          a {
                              background-color: $main-menu-parent-hover-bg !important;
                              text-decoration: underline !important;
                          }
                      }
                      &.expanded {
                          & > a {
                              &:hover {
                                color: $main-menu-text-hover !important;
                                text-decoration: none !important;
                                  background-color: $main-menu-parent-hover-bg;
                              }
                          }
                      }
                  }
                  &:hover {
                    color: $main-menu-text-hover !important;
                    text-decoration: none !important;
                      li.parent_menu {
                          & > .children_menu {
                            &:hover {
                              background-color: $main-menu-parent-hover-bg;
                              height:auto;
                            }
                            & > a{
                              &:hover{
                                color: $main-menu-text-hover !important;
                                text-decoration: none !important;
                              }
                            }
                          }
                          &:hover {
                            & > .children_menu {
                              height:auto;
                            }
                          }
                      }
                  }
              }

              @media (min-width: 992px) {
                  & > .menu {
                      display: flex;
                      align-items: center;

                      li.parent_menu > a {
                          min-width: 60px;
                      }
                  }
              }

              @media (max-width: 991px) {
                  & > .menu li.parent_menu {
                      width: 100%;

                      & > a {
                          min-width: 100%;
                      }
                  }
              }

              @media (max-width: 767px)
              {
                  & > .menu li.parent_menu {
                      width: 100%;

                      & > a,
                      & > .children_menu li a {
                          padding: 10px 15px !important;
                      }

                  }
              }
          }

          @media (min-width: 1100px) {
              top: 205px;
          }
          @media (min-width: 1050px) and (max-width: 1099px) {
              top: 190px;
          }
          @media (min-width: 992px) and (max-width: 1049px) {
              top: 18.4vw;
          }
          @media (min-width: 992px) {
              position: absolute;
              right: 0;
              width: 760px;
          }
      }
   }
}
